<h1>Listing items</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render :partial => 'item', :collection => @items %>
</table>

<br />

<%= render :partial => 'new_item' %>
